# Configuración General de la Aplicación
APP_NAME=Hojita
SUPPORT_EMAIL=soporte@hojita.com
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/Hojita

# Configuración de Base de Datos MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=hojita
DB_USER=root
DB_PASS=